@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

.h-100 {
  height: 100%;
}

.audio-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 50px;
  background-color: #f6f6f6;
  border-top: 1px solid #e1e1e1;
}

.controls {
  padding: 0 8px 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.controls__item {
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  color: #383838;
  margin: 0 18px;
}

.controls__item:hover {
  opacity: 80%;
}

:root {
  --percentage: 0;
  --volPercentage: 0;
}

.timeline {
  -webkit-appearance: none;
  width: 100%;
  background-color: #d9d9d9;
}

.timeline::-webkit-slider-runnable-track {
  height: 3px;
  background-image: linear-gradient(90deg, orangered var(--percentage), #d9d9d9 var(--percentage));
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: orangered;
  border-radius: 50%;
  margin-top: -2.5px;
  position: relative;
  z-index: 2;
}

.time {
  text-align: center;
  font-size: 12px;
}

.list-song {
  position: relative;
}

.list-song__toggle-btn {
  cursor: pointer;
  color: #383838;
}

.list-song__toggle-btn:hover {
  opacity: 80%;
}

.list-song__menu {
  position: absolute;
  width: 322px;
  height: 450px;
  top: -455px;
  left: -274px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.list-song__menu__header {
  height: 60px;
  border-bottom: 1px solid #cbcbcb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-song__menu__header__text {
  color: grey;
  font-size: 18px;
  letter-spacing: 2px;
}

.list-song__menu__header__close-btn {
  color: grey;
  font-size: 18px;
  cursor: pointer;
}

.list-song__menu__header__close-btn:hover {
  opacity: 70%;
}

.list-song__menu__item-container {
  display: flex;
  width: 100%;
  padding: 2px 0;
}

.current-song {
  height: 100%;
  display: flex;
  align-items: center;
}

.current-song__image {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  cursor: pointer;
}

.current-song__image:hover {
  opacity: 80%;
}

.current-song__desc {
  height: 32px;
  width: 210px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-song__desc__user {
  font-size: 12px;
  color: grey;
  line-height: 14px;
  margin: 0;
  letter-spacing: 1px;
}

.current-song__desc__name {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  letter-spacing: 1px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.active {
  color: orangered;
}

.one-icon {
  font-weight: 700;
  font-size: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-song__menu__item-field {
  padding: 20px;
  overflow-y: auto !important;
  height: calc(100% - 60px);
}

.song__image {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.song__image:hover {
  opacity: 80%;
}

.song__desc {
  height: 32px;
  width: calc(100% - 42px);
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song__desc__user {
  font-size: 12px;
  color: grey;
  line-height: 14px;
  margin: 0;
  letter-spacing: 1px;
}

.song__desc__name {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  letter-spacing: 1px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.list-song__menu__item-container + .list-song__menu__item-container {
  margin-top: 16px;
}

.play-btn {
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orangered;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.song__image:hover .play-btn {
  display: flex;
}

.activated {
  background-color: #e8e8e8;
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popover {
  bottom: 105px;
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  border-radius: 0;
  z-index: -1;
}

.arrow {
  position: relative;
  transform: rotate(45deg);
  right: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.176);
  border-left: 1px solid rgba(0, 0, 0, 0.176);
  width: 10px;
  height: 10px;
  z-index: 2;
  background-color: white;
}

.volume-controls__input {
  -webkit-appearance: none;
  background-color: #d9d9d9;
  margin-right: 10px;
}

.volume-controls__input::-webkit-slider-runnable-track {
  height: 3px;
  background-image: linear-gradient(90deg, orangered var(--volPercentage), #d9d9d9 var(--volPercentage));
}

.volume-controls__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: orangered;
  border-radius: 50%;
  margin-top: -2.5px;
  position: relative;
  z-index: 2;
}

